<footer class="footer">
  <small>
    ©2013 Fix Bad Art –All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>
  </nav>
</footer>